--
-- PostgreSQL database dump
--

\restrict R1nRjkz969gXmTF660ehj72URp7vPoDrChjE4bilavpTckLK1a3TL202A7pXrvO

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg13+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO regalito_admin;

--
-- Name: alerta_stock; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.alerta_stock (
    id_alerta integer NOT NULL,
    id_inventario integer NOT NULL,
    mensaje character varying(150) NOT NULL,
    fecha_generacion timestamp without time zone NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.alerta_stock OWNER TO regalito_admin;

--
-- Name: area_bodega; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.area_bodega (
    id_area integer NOT NULL,
    id_sucursal integer NOT NULL,
    nombre_area character varying(50) NOT NULL
);


ALTER TABLE public.area_bodega OWNER TO regalito_admin;

--
-- Name: bitacora_auditoria; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.bitacora_auditoria (
    id_bitacora integer NOT NULL,
    id_usuario integer NOT NULL,
    tabla_afectada character varying(50) NOT NULL,
    accion character varying(20) NOT NULL,
    descripcion character varying(255) NOT NULL,
    fecha_hora timestamp without time zone NOT NULL
);


ALTER TABLE public.bitacora_auditoria OWNER TO regalito_admin;

--
-- Name: caja; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.caja (
    id_caja integer NOT NULL,
    id_sucursal integer NOT NULL,
    descripcion character varying(50) NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.caja OWNER TO regalito_admin;

--
-- Name: caja_id_caja_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.caja_id_caja_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.caja_id_caja_seq OWNER TO regalito_admin;

--
-- Name: caja_id_caja_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.caja_id_caja_seq OWNED BY public.caja.id_caja;


--
-- Name: cash_registers; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.cash_registers (
    id integer NOT NULL,
    user_id integer,
    opening_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    opening_amount numeric(10,2) NOT NULL,
    petty_cash numeric(10,2) DEFAULT 0 NOT NULL,
    closing_time timestamp without time zone,
    blind_closing_amount numeric(10,2),
    status character varying(20) DEFAULT 'Abierta'::character varying
);


ALTER TABLE public.cash_registers OWNER TO regalito_admin;

--
-- Name: cash_registers_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.cash_registers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cash_registers_id_seq OWNER TO regalito_admin;

--
-- Name: cash_registers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.cash_registers_id_seq OWNED BY public.cash_registers.id;


--
-- Name: categoria; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.categoria (
    id_categoria integer NOT NULL,
    nombre character varying(50) NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.categoria OWNER TO regalito_admin;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO regalito_admin;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO regalito_admin;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: cierre_caja_ciegas; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.cierre_caja_ciegas (
    id_cierre integer NOT NULL,
    id_turno integer NOT NULL,
    id_usuario_cajero integer NOT NULL,
    id_usuario_supervisor integer NOT NULL,
    total_contado_ciegas numeric(10,2) NOT NULL,
    total_calculado_sistema numeric(10,2) NOT NULL,
    diferencia numeric(10,2) NOT NULL,
    observaciones character varying(255),
    fecha_cierre timestamp without time zone NOT NULL
);


ALTER TABLE public.cierre_caja_ciegas OWNER TO regalito_admin;

--
-- Name: cliente; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.cliente (
    id_cliente integer NOT NULL,
    id_tipo_cliente integer NOT NULL,
    id_municipio integer,
    nit character varying(15) NOT NULL,
    nombre_comercial character varying(120) NOT NULL,
    direccion character varying(200)
);


ALTER TABLE public.cliente OWNER TO regalito_admin;

--
-- Name: cliente_contacto; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.cliente_contacto (
    id_contacto integer NOT NULL,
    id_cliente integer NOT NULL,
    telefono character varying(20),
    correo character varying(100)
);


ALTER TABLE public.cliente_contacto OWNER TO regalito_admin;

--
-- Name: compra; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.compra (
    id_compra integer NOT NULL,
    id_orden integer,
    id_proveedor integer NOT NULL,
    id_usuario integer NOT NULL,
    numero_factura_proveedor character varying(50) NOT NULL,
    fecha_ingreso date NOT NULL,
    subtotal_mercaderia numeric(10,2) NOT NULL,
    gasto_flete numeric(10,2) NOT NULL,
    gasto_cargadores numeric(10,2) NOT NULL,
    total_compra numeric(10,2) NOT NULL
);


ALTER TABLE public.compra OWNER TO regalito_admin;

--
-- Name: denominacion_efectivo; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.denominacion_efectivo (
    id_denominacion integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    tipo character varying(15) NOT NULL
);


ALTER TABLE public.denominacion_efectivo OWNER TO regalito_admin;

--
-- Name: departamento_geografico; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.departamento_geografico (
    id_departamento integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.departamento_geografico OWNER TO regalito_admin;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.departments OWNER TO regalito_admin;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departments_id_seq OWNER TO regalito_admin;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: detalle_arqueo_efectivo; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.detalle_arqueo_efectivo (
    id_detalle_arqueo integer NOT NULL,
    id_cierre integer NOT NULL,
    id_denominacion integer NOT NULL,
    cantidad_piezas integer NOT NULL,
    subtotal numeric(10,2) NOT NULL
);


ALTER TABLE public.detalle_arqueo_efectivo OWNER TO regalito_admin;

--
-- Name: detalle_compra; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.detalle_compra (
    id_detalle_compra integer NOT NULL,
    id_compra integer NOT NULL,
    id_variante integer NOT NULL,
    cantidad_recibida integer NOT NULL,
    costo_unitario numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL
);


ALTER TABLE public.detalle_compra OWNER TO regalito_admin;

--
-- Name: detalle_merma; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.detalle_merma (
    id_detalle_merma integer NOT NULL,
    id_merma integer NOT NULL,
    id_variante integer NOT NULL,
    id_motivo integer NOT NULL,
    cantidad integer NOT NULL,
    costo_perdida numeric(10,2) NOT NULL
);


ALTER TABLE public.detalle_merma OWNER TO regalito_admin;

--
-- Name: detalle_orden_compra; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.detalle_orden_compra (
    id_detalle_orden integer NOT NULL,
    id_orden integer NOT NULL,
    id_variante integer NOT NULL,
    cantidad_pedida integer NOT NULL,
    costo_pactado numeric(10,2) NOT NULL
);


ALTER TABLE public.detalle_orden_compra OWNER TO regalito_admin;

--
-- Name: detalle_venta; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.detalle_venta (
    id_detalle_venta integer NOT NULL,
    id_venta integer NOT NULL,
    id_variante integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    descuento_item numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL
);


ALTER TABLE public.detalle_venta OWNER TO regalito_admin;

--
-- Name: factura_fel; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.factura_fel (
    id_factura integer NOT NULL,
    id_venta integer NOT NULL,
    numero_autorizacion_sat character varying(50) NOT NULL,
    serie character varying(20) NOT NULL,
    numero_dte character varying(30) NOT NULL,
    fecha_certificacion timestamp without time zone NOT NULL,
    nit_receptor character varying(15) NOT NULL,
    nombre_receptor character varying(120) NOT NULL,
    total_facturado numeric(10,2) NOT NULL
);


ALTER TABLE public.factura_fel OWNER TO regalito_admin;

--
-- Name: historial_precio; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.historial_precio (
    id_historial integer NOT NULL,
    id_variante integer NOT NULL,
    id_usuario integer NOT NULL,
    precio_anterior numeric(10,2) NOT NULL,
    precio_nuevo numeric(10,2) NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.historial_precio OWNER TO regalito_admin;

--
-- Name: inventario_sucursal; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.inventario_sucursal (
    id_inventario integer NOT NULL,
    id_variante integer NOT NULL,
    id_sucursal integer NOT NULL,
    id_area integer,
    stock_actual integer NOT NULL,
    stock_minimo integer NOT NULL,
    fecha_actualizacion timestamp without time zone NOT NULL
);


ALTER TABLE public.inventario_sucursal OWNER TO regalito_admin;

--
-- Name: merma; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.merma (
    id_merma integer NOT NULL,
    id_sucursal integer NOT NULL,
    id_usuario integer NOT NULL,
    fecha_merma timestamp without time zone NOT NULL,
    observaciones character varying(255)
);


ALTER TABLE public.merma OWNER TO regalito_admin;

--
-- Name: metodo_pago; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.metodo_pago (
    id_metodo_pago integer NOT NULL,
    nombre character varying(30) NOT NULL
);


ALTER TABLE public.metodo_pago OWNER TO regalito_admin;

--
-- Name: motivo_merma; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.motivo_merma (
    id_motivo integer NOT NULL,
    descripcion character varying(100) NOT NULL
);


ALTER TABLE public.motivo_merma OWNER TO regalito_admin;

--
-- Name: movimiento_caja; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.movimiento_caja (
    id_movimiento integer NOT NULL,
    id_turno integer NOT NULL,
    id_tipo_movimiento integer NOT NULL,
    id_usuario integer NOT NULL,
    monto numeric(10,2) NOT NULL,
    justificacion character varying(255) NOT NULL,
    fecha_hora timestamp without time zone NOT NULL
);


ALTER TABLE public.movimiento_caja OWNER TO regalito_admin;

--
-- Name: municipio; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.municipio (
    id_municipio integer NOT NULL,
    id_departamento integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.municipio OWNER TO regalito_admin;

--
-- Name: orden_compra; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.orden_compra (
    id_orden integer NOT NULL,
    id_proveedor integer NOT NULL,
    id_usuario integer NOT NULL,
    fecha_emision date NOT NULL,
    total_estimado numeric(10,2) NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.orden_compra OWNER TO regalito_admin;

--
-- Name: pago_venta; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.pago_venta (
    id_pago integer NOT NULL,
    id_venta integer NOT NULL,
    id_metodo_pago integer NOT NULL,
    monto_recibido numeric(10,2) NOT NULL,
    vuelto_entregado numeric(10,2) NOT NULL
);


ALTER TABLE public.pago_venta OWNER TO regalito_admin;

--
-- Name: parametro_sistema; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.parametro_sistema (
    id_parametro integer NOT NULL,
    clave character varying(50) NOT NULL,
    valor character varying(255) NOT NULL
);


ALTER TABLE public.parametro_sistema OWNER TO regalito_admin;

--
-- Name: permiso; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.permiso (
    id_permiso integer NOT NULL,
    modulo character varying(50) NOT NULL,
    codigo character varying(50) NOT NULL,
    descripcion character varying(150)
);


ALTER TABLE public.permiso OWNER TO regalito_admin;

--
-- Name: producto; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.producto (
    id_producto integer NOT NULL,
    id_subcategoria integer NOT NULL,
    id_unidad integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(255),
    imagen_url character varying(255),
    estado character varying(20) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.producto OWNER TO regalito_admin;

--
-- Name: products; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    sku character varying(50),
    barcode character varying(100) NOT NULL,
    category_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    current_stock integer DEFAULT 0 NOT NULL,
    min_stock integer DEFAULT 5 NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO regalito_admin;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO regalito_admin;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: proveedor; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.proveedor (
    id_proveedor integer NOT NULL,
    nombre_contacto character varying(100) NOT NULL,
    distribuidora character varying(100) NOT NULL,
    telefono character varying(20),
    correo character varying(100),
    cuenta_bancaria character varying(50),
    direccion character varying(150)
);


ALTER TABLE public.proveedor OWNER TO regalito_admin;

--
-- Name: rol; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.rol (
    id_rol integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(150),
    estado character varying(20) NOT NULL
);


ALTER TABLE public.rol OWNER TO regalito_admin;

--
-- Name: rol_permiso; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.rol_permiso (
    id_rol integer NOT NULL,
    id_permiso integer NOT NULL
);


ALTER TABLE public.rol_permiso OWNER TO regalito_admin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO regalito_admin;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO regalito_admin;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sesion_usuario; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.sesion_usuario (
    id_sesion integer NOT NULL,
    id_usuario integer NOT NULL,
    fecha_inicio timestamp without time zone NOT NULL,
    fecha_fin timestamp without time zone,
    ip_origen character varying(45)
);


ALTER TABLE public.sesion_usuario OWNER TO regalito_admin;

--
-- Name: subcategoria; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.subcategoria (
    id_subcategoria integer NOT NULL,
    id_categoria integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.subcategoria OWNER TO regalito_admin;

--
-- Name: sucursal; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.sucursal (
    id_sucursal integer NOT NULL,
    nombre character varying(100) NOT NULL,
    direccion character varying(200) NOT NULL,
    telefono character varying(20),
    estado character varying(20) NOT NULL
);


ALTER TABLE public.sucursal OWNER TO regalito_admin;

--
-- Name: tipo_cliente; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.tipo_cliente (
    id_tipo_cliente integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descuento_predeterminado numeric(5,2)
);


ALTER TABLE public.tipo_cliente OWNER TO regalito_admin;

--
-- Name: tipo_movimiento_caja; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.tipo_movimiento_caja (
    id_tipo_movimiento integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.tipo_movimiento_caja OWNER TO regalito_admin;

--
-- Name: traslado_inventario; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.traslado_inventario (
    id_traslado integer NOT NULL,
    id_variante integer NOT NULL,
    id_sucursal_origen integer NOT NULL,
    id_sucursal_destino integer NOT NULL,
    cantidad integer NOT NULL,
    fecha_traslado timestamp without time zone NOT NULL
);


ALTER TABLE public.traslado_inventario OWNER TO regalito_admin;

--
-- Name: turno_caja; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.turno_caja (
    id_turno integer NOT NULL,
    id_caja integer NOT NULL,
    id_usuario integer NOT NULL,
    monto_apertura numeric(10,2) NOT NULL,
    fecha_apertura timestamp without time zone NOT NULL,
    fecha_cierre timestamp without time zone,
    estado character varying(20) NOT NULL,
    monto_cierre numeric(10,2),
    notas character varying(255)
);


ALTER TABLE public.turno_caja OWNER TO regalito_admin;

--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.turno_caja_id_turno_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.turno_caja_id_turno_seq OWNER TO regalito_admin;

--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.turno_caja_id_turno_seq OWNED BY public.turno_caja.id_turno;


--
-- Name: unidad_medida; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.unidad_medida (
    id_unidad integer NOT NULL,
    codigo character varying(10) NOT NULL,
    descripcion character varying(50) NOT NULL
);


ALTER TABLE public.unidad_medida OWNER TO regalito_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    lastname character varying(100) NOT NULL,
    code character varying(30) NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role_id integer NOT NULL,
    department_id integer NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO regalito_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: regalito_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO regalito_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: regalito_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    id_rol integer NOT NULL,
    nombre_completo character varying(100) NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuario OWNER TO regalito_admin;

--
-- Name: variante_producto; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.variante_producto (
    id_variante integer NOT NULL,
    id_producto integer NOT NULL,
    codigo_barras character varying(50),
    talla character varying(20),
    color character varying(30),
    precio_detalle numeric(10,2) NOT NULL,
    precio_mayoreo numeric(10,2) NOT NULL,
    costo_promedio numeric(10,2) NOT NULL
);


ALTER TABLE public.variante_producto OWNER TO regalito_admin;

--
-- Name: venta; Type: TABLE; Schema: public; Owner: regalito_admin
--

CREATE TABLE public.venta (
    id_venta integer NOT NULL,
    id_turno integer NOT NULL,
    id_cliente integer,
    id_usuario integer NOT NULL,
    fecha_venta timestamp without time zone NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    descuento_total numeric(10,2) NOT NULL,
    total_venta numeric(10,2) NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.venta OWNER TO regalito_admin;

--
-- Name: caja id_caja; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.caja ALTER COLUMN id_caja SET DEFAULT nextval('public.caja_id_caja_seq'::regclass);


--
-- Name: cash_registers id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cash_registers ALTER COLUMN id SET DEFAULT nextval('public.cash_registers_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: turno_caja id_turno; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.turno_caja ALTER COLUMN id_turno SET DEFAULT nextval('public.turno_caja_id_turno_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.alembic_version (version_num) FROM stdin;
0004
\.


--
-- Data for Name: alerta_stock; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.alerta_stock (id_alerta, id_inventario, mensaje, fecha_generacion, estado) FROM stdin;
1	2	Vestido de Ni??a 2T por debajo del stock m??nimo	2026-09-16 01:08:42.359426	Pendiente
\.


--
-- Data for Name: area_bodega; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.area_bodega (id_area, id_sucursal, nombre_area) FROM stdin;
1	1	Vitrina Principal
2	1	Bodega Fondo
3	1	Mostrador
\.


--
-- Data for Name: bitacora_auditoria; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.bitacora_auditoria (id_bitacora, id_usuario, tabla_afectada, accion, descripcion, fecha_hora) FROM stdin;
\.


--
-- Data for Name: caja; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.caja (id_caja, id_sucursal, descripcion, estado) FROM stdin;
1	1	Caja Principal Mostrador	Activa
\.


--
-- Data for Name: cash_registers; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.cash_registers (id, user_id, opening_time, opening_amount, petty_cash, closing_time, blind_closing_amount, status) FROM stdin;
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.categoria (id_categoria, nombre, estado) FROM stdin;
2	Ropa	Activo
3	Juguetes	Activo
4	Hogar	Activo
1	Cristaler├¡a	Activo
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.categories (id, name, description, is_active, created_at) FROM stdin;
1	Bebidas	Refrescos, jugos y aguas	t	2026-09-15 00:53:06.867453
2	Snacks	Botanas y frituras	t	2026-09-15 00:53:06.867453
3	Dulcer├¡a	Galletas, dulces y chocolates	t	2026-09-15 00:53:06.867453
\.


--
-- Data for Name: cierre_caja_ciegas; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.cierre_caja_ciegas (id_cierre, id_turno, id_usuario_cajero, id_usuario_supervisor, total_contado_ciegas, total_calculado_sistema, diferencia, observaciones, fecha_cierre) FROM stdin;
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.cliente (id_cliente, id_tipo_cliente, id_municipio, nit, nombre_comercial, direccion) FROM stdin;
1	1	1	CF	Consumidor Final	\N
2	3	1	9876543-2	Tienda Suyapa	Calle Santander, Panajachel
\.


--
-- Data for Name: cliente_contacto; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.cliente_contacto (id_contacto, id_cliente, telefono, correo) FROM stdin;
1	2	5522-3344	tienda.suyapa@mail.com
\.


--
-- Data for Name: compra; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.compra (id_compra, id_orden, id_proveedor, id_usuario, numero_factura_proveedor, fecha_ingreso, subtotal_mercaderia, gasto_flete, gasto_cargadores, total_compra) FROM stdin;
\.


--
-- Data for Name: denominacion_efectivo; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.denominacion_efectivo (id_denominacion, valor, tipo) FROM stdin;
1	200.00	Billete
2	100.00	Billete
3	50.00	Billete
4	20.00	Billete
5	10.00	Billete
6	5.00	Billete
7	1.00	Moneda
8	0.50	Moneda
\.


--
-- Data for Name: departamento_geografico; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.departamento_geografico (id_departamento, nombre) FROM stdin;
1	Solol??
2	Quetzaltenango
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.departments (id, name, description, is_active, created_at) FROM stdin;
1	General	Departamento general	t	2026-09-15 00:53:06.864954
\.


--
-- Data for Name: detalle_arqueo_efectivo; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.detalle_arqueo_efectivo (id_detalle_arqueo, id_cierre, id_denominacion, cantidad_piezas, subtotal) FROM stdin;
\.


--
-- Data for Name: detalle_compra; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.detalle_compra (id_detalle_compra, id_compra, id_variante, cantidad_recibida, costo_unitario, subtotal) FROM stdin;
\.


--
-- Data for Name: detalle_merma; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.detalle_merma (id_detalle_merma, id_merma, id_variante, id_motivo, cantidad, costo_perdida) FROM stdin;
\.


--
-- Data for Name: detalle_orden_compra; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.detalle_orden_compra (id_detalle_orden, id_orden, id_variante, cantidad_pedida, costo_pactado) FROM stdin;
\.


--
-- Data for Name: detalle_venta; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.detalle_venta (id_detalle_venta, id_venta, id_variante, cantidad, precio_unitario, descuento_item, subtotal) FROM stdin;
\.


--
-- Data for Name: factura_fel; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.factura_fel (id_factura, id_venta, numero_autorizacion_sat, serie, numero_dte, fecha_certificacion, nit_receptor, nombre_receptor, total_facturado) FROM stdin;
\.


--
-- Data for Name: historial_precio; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.historial_precio (id_historial, id_variante, id_usuario, precio_anterior, precio_nuevo, fecha_modificacion) FROM stdin;
1	1	1	80.00	85.00	2026-09-16 01:08:42.358121
\.


--
-- Data for Name: inventario_sucursal; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.inventario_sucursal (id_inventario, id_variante, id_sucursal, id_area, stock_actual, stock_minimo, fecha_actualizacion) FROM stdin;
1	1	1	1	24	8	2026-09-16 01:08:42.35566
2	2	1	1	12	5	2026-09-16 01:08:42.35566
3	3	1	2	10	5	2026-09-16 01:08:42.35566
4	4	1	1	30	10	2026-09-16 01:08:42.35566
\.


--
-- Data for Name: merma; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.merma (id_merma, id_sucursal, id_usuario, fecha_merma, observaciones) FROM stdin;
\.


--
-- Data for Name: metodo_pago; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.metodo_pago (id_metodo_pago, nombre) FROM stdin;
1	Efectivo
2	Transferencia
\.


--
-- Data for Name: motivo_merma; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.motivo_merma (id_motivo, descripcion) FROM stdin;
1	Cristaler??a Quebrada
2	Ropa Manchada
3	Defecto F??brica
\.


--
-- Data for Name: movimiento_caja; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.movimiento_caja (id_movimiento, id_turno, id_tipo_movimiento, id_usuario, monto, justificacion, fecha_hora) FROM stdin;
\.


--
-- Data for Name: municipio; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.municipio (id_municipio, id_departamento, nombre) FROM stdin;
1	1	Panajachel
2	1	Solol??
3	2	Quetzaltenango
\.


--
-- Data for Name: orden_compra; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.orden_compra (id_orden, id_proveedor, id_usuario, fecha_emision, total_estimado, estado) FROM stdin;
\.


--
-- Data for Name: pago_venta; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.pago_venta (id_pago, id_venta, id_metodo_pago, monto_recibido, vuelto_entregado) FROM stdin;
\.


--
-- Data for Name: parametro_sistema; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.parametro_sistema (id_parametro, clave, valor) FROM stdin;
1	NIT_EMPRESA	12345678-9
2	IVA_PORCENTAJE	12
3	SERIE_DTE	A
4	RUTA_LOGO	/img/logo.png
\.


--
-- Data for Name: permiso; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.permiso (id_permiso, modulo, codigo, descripcion) FROM stdin;
1	Ventas	VENTA_COBRAR	Registrar cobros en mostrador
2	Ventas	VENTA_APLICAR_DESCUENTO	Aplicar descuentos por volumen
3	Inventario	INV_INGRESAR_MERCADERIA	Registrar ingreso de compras
4	Caja	CAJA_CIERRE_CIEGAS	Ejecutar arqueo de caja a ciegas
5	Compras	COMPRA_EMITIR_ORDEN	Emitir ??rdenes de compra
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.producto (id_producto, id_subcategoria, id_unidad, nombre, descripcion, imagen_url, estado, fecha_creacion) FROM stdin;
1	1	1	Juego de Vasos de Cristal	Set de 6 vasos de cristal templado para mesa	/img/vasos-cristal.jpg	Activo	2026-09-16 04:41:30.165622
2	3	1	Vestido de Ni├▒a 2T	Vestido de algod??n con bordado guatemalteco	/img/vestido-2t.jpg	Activo	2026-09-16 04:41:30.165622
3	4	1	Mu├▒eca de Trapo Artesanal	Mu├▒eca de tela tejida a mano, vestido tradicional	/img/muneca-trapo.jpg	Activo	2026-09-16 04:41:30.165622
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.products (id, name, sku, barcode, category_id, price, current_stock, min_stock, is_active, created_at) FROM stdin;
1	Refresco Cola 600ml	COLA600	7501055300075	1	18.50	50	10	t	2026-09-15 00:53:06.868807
2	Papas Fritas	PAPA22	7501000123456	2	22.00	30	5	t	2026-09-15 00:53:06.868807
3	Galletas de Chocolate	GALLC40	7501000987654	3	15.00	20	5	t	2026-09-15 00:53:06.868807
\.


--
-- Data for Name: proveedor; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.proveedor (id_proveedor, nombre_contacto, distribuidora, telefono, correo, cuenta_bancaria, direccion) FROM stdin;
1	Carlos Mendoza	Vidrier??a Lago S.A.	5522-7788	ventas@vidrierialago.com	3456-789012-3	Zona 3, Solol??
2	Luc??a Ram??rez	Textiles del Altiplano	5544-2233	pedidos@textilesaltiplano.com	6789-012345-6	Zona 5, Quetzaltenango
3	Ana P??rez	Jugueter??a Maya Distribuciones	5500-1122	ventas@jugueteriamaya.com	1234-567890-1	Zona 2, Panajachel
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.rol (id_rol, nombre, descripcion, estado) FROM stdin;
1	Administradora	Control total del sistema y arqueos de caja	Activo
2	Cajero	Opera el punto de venta y cobros en mostrador	Activo
3	Bodeguero	Gestiona inventario, mermas y traslados	Activo
\.


--
-- Data for Name: rol_permiso; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.rol_permiso (id_rol, id_permiso) FROM stdin;
1	1
1	2
1	3
1	4
1	5
2	1
2	2
3	3
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.roles (id, name, description, is_active, created_at) FROM stdin;
1	Admin	Administrador del sistema	t	2026-09-15 00:53:06.863952
2	Cajero	Operador de caja	t	2026-09-15 00:53:06.863952
\.


--
-- Data for Name: sesion_usuario; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.sesion_usuario (id_sesion, id_usuario, fecha_inicio, fecha_fin, ip_origen) FROM stdin;
\.


--
-- Data for Name: subcategoria; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.subcategoria (id_subcategoria, id_categoria, nombre) FROM stdin;
1	1	Vasos
2	1	Floreros
5	4	Deco Hogar
3	2	Ropa Beb├®
4	3	Mu├▒ecas
\.


--
-- Data for Name: sucursal; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.sucursal (id_sucursal, nombre, direccion, telefono, estado) FROM stdin;
1	Tienda Central Panajachel	Callej??n Don Fidel, zona 1	7762-3456	Activo
\.


--
-- Data for Name: tipo_cliente; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.tipo_cliente (id_tipo_cliente, nombre, descuento_predeterminado) FROM stdin;
1	Consumidor Final	0.00
2	Minorista	5.00
3	Mayorista	10.00
\.


--
-- Data for Name: tipo_movimiento_caja; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.tipo_movimiento_caja (id_tipo_movimiento, nombre) FROM stdin;
1	Ingreso Sencillo Extra
2	Vale Caja Chica
3	Flete
\.


--
-- Data for Name: traslado_inventario; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.traslado_inventario (id_traslado, id_variante, id_sucursal_origen, id_sucursal_destino, cantidad, fecha_traslado) FROM stdin;
\.


--
-- Data for Name: turno_caja; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.turno_caja (id_turno, id_caja, id_usuario, monto_apertura, fecha_apertura, fecha_cierre, estado, monto_cierre, notas) FROM stdin;
1	1	1	100.00	2026-09-15 23:30:00.254357	2026-09-15 23:30:00.278736	Cerrado	325.50	Cierre de prueba automatizada
\.


--
-- Data for Name: unidad_medida; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.unidad_medida (id_unidad, codigo, descripcion) FROM stdin;
1	UND	Unidad
2	PAR	Par
3	DOC	Docena
4	CJ	Caja cerrada
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.users (id, name, lastname, code, username, password_hash, role_id, department_id, is_active, created_at) FROM stdin;
1	Admin	Sistema	U001	admin	$2b$12$sAdvlVXhCnxGNhLV7qPX6OET40V3fMVfbv1Co9x49BtSoXdj82flS	1	1	t	2026-09-15 00:53:06.865817
2	Dilan	Yax	123	Dilan	$2b$12$2IEW9gQHLxJt7ZFRsv35muPV0q29APGRvuRXNj9nIbk0ir1N1jpMO	1	1	f	2026-09-15 03:09:26.781714
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.usuario (id_usuario, id_rol, nombre_completo, username, password_hash, estado, fecha_creacion) FROM stdin;
1	1	Propietaria Regalito	admin	$2b$12$igeDz03pyYibOqQO3WJCY.a/XKMHvAAZ2sfh13w.YT7hurdmKFlpG	Activo	2026-09-16 04:12:14.051193
3	2	Pedro Tzoc	bodega	$2b$12$igeDz03pyYibOqQO3WJCY.a/XKMHvAAZ2sfh13w.YT7hurdmKFlpG	Activo	2026-09-16 04:12:14.051193
2	1	Mar├¡a Xicay	cajera	$2b$12$igeDz03pyYibOqQO3WJCY.a/XKMHvAAZ2sfh13w.YT7hurdmKFlpG	Activo	2026-09-16 04:12:14.051193
\.


--
-- Data for Name: variante_producto; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.variante_producto (id_variante, id_producto, codigo_barras, talla, color, precio_detalle, precio_mayoreo, costo_promedio) FROM stdin;
1	1	7401000000011	\N	Transparente	85.00	75.00	52.00
2	2	7401000000028	2T	Rosado	120.00	105.00	68.00
3	2	7401000000035	4T	Azul	120.00	105.00	68.00
4	3	7401000000042	\N	Multicolor	45.00	38.00	24.00
\.


--
-- Data for Name: venta; Type: TABLE DATA; Schema: public; Owner: regalito_admin
--

COPY public.venta (id_venta, id_turno, id_cliente, id_usuario, fecha_venta, subtotal, descuento_total, total_venta, estado) FROM stdin;
\.


--
-- Name: caja_id_caja_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.caja_id_caja_seq', 2, false);


--
-- Name: cash_registers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.cash_registers_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.categories_id_seq', 3, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.departments_id_seq', 1, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.products_id_seq', 3, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.turno_caja_id_turno_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: regalito_admin
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkey PRIMARY KEY (version_num);


--
-- Name: alerta_stock alerta_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.alerta_stock
    ADD CONSTRAINT alerta_stock_pkey PRIMARY KEY (id_alerta);


--
-- Name: area_bodega area_bodega_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.area_bodega
    ADD CONSTRAINT area_bodega_pkey PRIMARY KEY (id_area);


--
-- Name: bitacora_auditoria bitacora_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.bitacora_auditoria
    ADD CONSTRAINT bitacora_auditoria_pkey PRIMARY KEY (id_bitacora);


--
-- Name: caja caja_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.caja
    ADD CONSTRAINT caja_pkey PRIMARY KEY (id_caja);


--
-- Name: cash_registers cash_registers_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT cash_registers_pkey PRIMARY KEY (id);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id_categoria);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: cierre_caja_ciegas cierre_caja_ciegas_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cierre_caja_ciegas
    ADD CONSTRAINT cierre_caja_ciegas_pkey PRIMARY KEY (id_cierre);


--
-- Name: cliente_contacto cliente_contacto_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cliente_contacto
    ADD CONSTRAINT cliente_contacto_pkey PRIMARY KEY (id_contacto);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: compra compra_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT compra_pkey PRIMARY KEY (id_compra);


--
-- Name: denominacion_efectivo denominacion_efectivo_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.denominacion_efectivo
    ADD CONSTRAINT denominacion_efectivo_pkey PRIMARY KEY (id_denominacion);


--
-- Name: departamento_geografico departamento_geografico_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.departamento_geografico
    ADD CONSTRAINT departamento_geografico_pkey PRIMARY KEY (id_departamento);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: detalle_arqueo_efectivo detalle_arqueo_efectivo_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_arqueo_efectivo
    ADD CONSTRAINT detalle_arqueo_efectivo_pkey PRIMARY KEY (id_detalle_arqueo);


--
-- Name: detalle_compra detalle_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_compra
    ADD CONSTRAINT detalle_compra_pkey PRIMARY KEY (id_detalle_compra);


--
-- Name: detalle_merma detalle_merma_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_merma
    ADD CONSTRAINT detalle_merma_pkey PRIMARY KEY (id_detalle_merma);


--
-- Name: detalle_orden_compra detalle_orden_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_orden_compra
    ADD CONSTRAINT detalle_orden_compra_pkey PRIMARY KEY (id_detalle_orden);


--
-- Name: detalle_venta detalle_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_pkey PRIMARY KEY (id_detalle_venta);


--
-- Name: factura_fel factura_fel_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.factura_fel
    ADD CONSTRAINT factura_fel_pkey PRIMARY KEY (id_factura);


--
-- Name: historial_precio historial_precio_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.historial_precio
    ADD CONSTRAINT historial_precio_pkey PRIMARY KEY (id_historial);


--
-- Name: inventario_sucursal inventario_sucursal_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.inventario_sucursal
    ADD CONSTRAINT inventario_sucursal_pkey PRIMARY KEY (id_inventario);


--
-- Name: merma merma_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.merma
    ADD CONSTRAINT merma_pkey PRIMARY KEY (id_merma);


--
-- Name: metodo_pago metodo_pago_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.metodo_pago
    ADD CONSTRAINT metodo_pago_pkey PRIMARY KEY (id_metodo_pago);


--
-- Name: motivo_merma motivo_merma_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.motivo_merma
    ADD CONSTRAINT motivo_merma_pkey PRIMARY KEY (id_motivo);


--
-- Name: movimiento_caja movimiento_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.movimiento_caja
    ADD CONSTRAINT movimiento_caja_pkey PRIMARY KEY (id_movimiento);


--
-- Name: municipio municipio_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT municipio_pkey PRIMARY KEY (id_municipio);


--
-- Name: orden_compra orden_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.orden_compra
    ADD CONSTRAINT orden_compra_pkey PRIMARY KEY (id_orden);


--
-- Name: pago_venta pago_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.pago_venta
    ADD CONSTRAINT pago_venta_pkey PRIMARY KEY (id_pago);


--
-- Name: parametro_sistema parametro_sistema_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.parametro_sistema
    ADD CONSTRAINT parametro_sistema_pkey PRIMARY KEY (id_parametro);


--
-- Name: permiso permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.permiso
    ADD CONSTRAINT permiso_pkey PRIMARY KEY (id_permiso);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: proveedor proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.proveedor
    ADD CONSTRAINT proveedor_pkey PRIMARY KEY (id_proveedor);


--
-- Name: rol_permiso rol_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_pkey PRIMARY KEY (id_rol, id_permiso);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (id_rol);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sesion_usuario sesion_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.sesion_usuario
    ADD CONSTRAINT sesion_usuario_pkey PRIMARY KEY (id_sesion);


--
-- Name: subcategoria subcategoria_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.subcategoria
    ADD CONSTRAINT subcategoria_pkey PRIMARY KEY (id_subcategoria);


--
-- Name: sucursal sucursal_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.sucursal
    ADD CONSTRAINT sucursal_pkey PRIMARY KEY (id_sucursal);


--
-- Name: tipo_cliente tipo_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.tipo_cliente
    ADD CONSTRAINT tipo_cliente_pkey PRIMARY KEY (id_tipo_cliente);


--
-- Name: tipo_movimiento_caja tipo_movimiento_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.tipo_movimiento_caja
    ADD CONSTRAINT tipo_movimiento_caja_pkey PRIMARY KEY (id_tipo_movimiento);


--
-- Name: traslado_inventario traslado_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.traslado_inventario
    ADD CONSTRAINT traslado_inventario_pkey PRIMARY KEY (id_traslado);


--
-- Name: turno_caja turno_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.turno_caja
    ADD CONSTRAINT turno_caja_pkey PRIMARY KEY (id_turno);


--
-- Name: unidad_medida unidad_medida_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.unidad_medida
    ADD CONSTRAINT unidad_medida_pkey PRIMARY KEY (id_unidad);


--
-- Name: users users_code_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_code_key UNIQUE (code);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: variante_producto variante_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.variante_producto
    ADD CONSTRAINT variante_producto_pkey PRIMARY KEY (id_variante);


--
-- Name: venta venta_pkey; Type: CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_pkey PRIMARY KEY (id_venta);


--
-- Name: alerta_stock alerta_stock_id_inventario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.alerta_stock
    ADD CONSTRAINT alerta_stock_id_inventario_fkey FOREIGN KEY (id_inventario) REFERENCES public.inventario_sucursal(id_inventario);


--
-- Name: area_bodega area_bodega_id_sucursal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.area_bodega
    ADD CONSTRAINT area_bodega_id_sucursal_fkey FOREIGN KEY (id_sucursal) REFERENCES public.sucursal(id_sucursal);


--
-- Name: bitacora_auditoria bitacora_auditoria_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.bitacora_auditoria
    ADD CONSTRAINT bitacora_auditoria_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: caja caja_id_sucursal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.caja
    ADD CONSTRAINT caja_id_sucursal_fkey FOREIGN KEY (id_sucursal) REFERENCES public.sucursal(id_sucursal);


--
-- Name: cash_registers cash_registers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cash_registers
    ADD CONSTRAINT cash_registers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cierre_caja_ciegas cierre_caja_ciegas_id_turno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cierre_caja_ciegas
    ADD CONSTRAINT cierre_caja_ciegas_id_turno_fkey FOREIGN KEY (id_turno) REFERENCES public.turno_caja(id_turno);


--
-- Name: cierre_caja_ciegas cierre_caja_ciegas_id_usuario_cajero_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cierre_caja_ciegas
    ADD CONSTRAINT cierre_caja_ciegas_id_usuario_cajero_fkey FOREIGN KEY (id_usuario_cajero) REFERENCES public.usuario(id_usuario);


--
-- Name: cierre_caja_ciegas cierre_caja_ciegas_id_usuario_supervisor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cierre_caja_ciegas
    ADD CONSTRAINT cierre_caja_ciegas_id_usuario_supervisor_fkey FOREIGN KEY (id_usuario_supervisor) REFERENCES public.usuario(id_usuario);


--
-- Name: cliente_contacto cliente_contacto_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cliente_contacto
    ADD CONSTRAINT cliente_contacto_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente);


--
-- Name: cliente cliente_id_municipio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_id_municipio_fkey FOREIGN KEY (id_municipio) REFERENCES public.municipio(id_municipio);


--
-- Name: cliente cliente_id_tipo_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_id_tipo_cliente_fkey FOREIGN KEY (id_tipo_cliente) REFERENCES public.tipo_cliente(id_tipo_cliente);


--
-- Name: compra compra_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT compra_id_orden_fkey FOREIGN KEY (id_orden) REFERENCES public.orden_compra(id_orden);


--
-- Name: compra compra_id_proveedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT compra_id_proveedor_fkey FOREIGN KEY (id_proveedor) REFERENCES public.proveedor(id_proveedor);


--
-- Name: compra compra_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.compra
    ADD CONSTRAINT compra_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: detalle_arqueo_efectivo detalle_arqueo_efectivo_id_cierre_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_arqueo_efectivo
    ADD CONSTRAINT detalle_arqueo_efectivo_id_cierre_fkey FOREIGN KEY (id_cierre) REFERENCES public.cierre_caja_ciegas(id_cierre);


--
-- Name: detalle_arqueo_efectivo detalle_arqueo_efectivo_id_denominacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_arqueo_efectivo
    ADD CONSTRAINT detalle_arqueo_efectivo_id_denominacion_fkey FOREIGN KEY (id_denominacion) REFERENCES public.denominacion_efectivo(id_denominacion);


--
-- Name: detalle_compra detalle_compra_id_compra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_compra
    ADD CONSTRAINT detalle_compra_id_compra_fkey FOREIGN KEY (id_compra) REFERENCES public.compra(id_compra);


--
-- Name: detalle_compra detalle_compra_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_compra
    ADD CONSTRAINT detalle_compra_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: detalle_merma detalle_merma_id_merma_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_merma
    ADD CONSTRAINT detalle_merma_id_merma_fkey FOREIGN KEY (id_merma) REFERENCES public.merma(id_merma);


--
-- Name: detalle_merma detalle_merma_id_motivo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_merma
    ADD CONSTRAINT detalle_merma_id_motivo_fkey FOREIGN KEY (id_motivo) REFERENCES public.motivo_merma(id_motivo);


--
-- Name: detalle_merma detalle_merma_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_merma
    ADD CONSTRAINT detalle_merma_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: detalle_orden_compra detalle_orden_compra_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_orden_compra
    ADD CONSTRAINT detalle_orden_compra_id_orden_fkey FOREIGN KEY (id_orden) REFERENCES public.orden_compra(id_orden);


--
-- Name: detalle_orden_compra detalle_orden_compra_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_orden_compra
    ADD CONSTRAINT detalle_orden_compra_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: detalle_venta detalle_venta_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: detalle_venta detalle_venta_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_venta_fkey FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta);


--
-- Name: factura_fel factura_fel_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.factura_fel
    ADD CONSTRAINT factura_fel_id_venta_fkey FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta);


--
-- Name: historial_precio historial_precio_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.historial_precio
    ADD CONSTRAINT historial_precio_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: historial_precio historial_precio_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.historial_precio
    ADD CONSTRAINT historial_precio_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: inventario_sucursal inventario_sucursal_id_area_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.inventario_sucursal
    ADD CONSTRAINT inventario_sucursal_id_area_fkey FOREIGN KEY (id_area) REFERENCES public.area_bodega(id_area);


--
-- Name: inventario_sucursal inventario_sucursal_id_sucursal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.inventario_sucursal
    ADD CONSTRAINT inventario_sucursal_id_sucursal_fkey FOREIGN KEY (id_sucursal) REFERENCES public.sucursal(id_sucursal);


--
-- Name: inventario_sucursal inventario_sucursal_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.inventario_sucursal
    ADD CONSTRAINT inventario_sucursal_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: merma merma_id_sucursal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.merma
    ADD CONSTRAINT merma_id_sucursal_fkey FOREIGN KEY (id_sucursal) REFERENCES public.sucursal(id_sucursal);


--
-- Name: merma merma_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.merma
    ADD CONSTRAINT merma_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: movimiento_caja movimiento_caja_id_tipo_movimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.movimiento_caja
    ADD CONSTRAINT movimiento_caja_id_tipo_movimiento_fkey FOREIGN KEY (id_tipo_movimiento) REFERENCES public.tipo_movimiento_caja(id_tipo_movimiento);


--
-- Name: movimiento_caja movimiento_caja_id_turno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.movimiento_caja
    ADD CONSTRAINT movimiento_caja_id_turno_fkey FOREIGN KEY (id_turno) REFERENCES public.turno_caja(id_turno);


--
-- Name: movimiento_caja movimiento_caja_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.movimiento_caja
    ADD CONSTRAINT movimiento_caja_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: municipio municipio_id_departamento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT municipio_id_departamento_fkey FOREIGN KEY (id_departamento) REFERENCES public.departamento_geografico(id_departamento);


--
-- Name: orden_compra orden_compra_id_proveedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.orden_compra
    ADD CONSTRAINT orden_compra_id_proveedor_fkey FOREIGN KEY (id_proveedor) REFERENCES public.proveedor(id_proveedor);


--
-- Name: orden_compra orden_compra_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.orden_compra
    ADD CONSTRAINT orden_compra_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: pago_venta pago_venta_id_metodo_pago_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.pago_venta
    ADD CONSTRAINT pago_venta_id_metodo_pago_fkey FOREIGN KEY (id_metodo_pago) REFERENCES public.metodo_pago(id_metodo_pago);


--
-- Name: pago_venta pago_venta_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.pago_venta
    ADD CONSTRAINT pago_venta_id_venta_fkey FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta);


--
-- Name: producto producto_id_subcategoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_subcategoria_fkey FOREIGN KEY (id_subcategoria) REFERENCES public.subcategoria(id_subcategoria);


--
-- Name: producto producto_id_unidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_unidad_fkey FOREIGN KEY (id_unidad) REFERENCES public.unidad_medida(id_unidad);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: rol_permiso rol_permiso_id_permiso_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_id_permiso_fkey FOREIGN KEY (id_permiso) REFERENCES public.permiso(id_permiso);


--
-- Name: rol_permiso rol_permiso_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.rol(id_rol);


--
-- Name: sesion_usuario sesion_usuario_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.sesion_usuario
    ADD CONSTRAINT sesion_usuario_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: subcategoria subcategoria_id_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.subcategoria
    ADD CONSTRAINT subcategoria_id_categoria_fkey FOREIGN KEY (id_categoria) REFERENCES public.categoria(id_categoria);


--
-- Name: traslado_inventario traslado_inventario_id_sucursal_destino_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.traslado_inventario
    ADD CONSTRAINT traslado_inventario_id_sucursal_destino_fkey FOREIGN KEY (id_sucursal_destino) REFERENCES public.sucursal(id_sucursal);


--
-- Name: traslado_inventario traslado_inventario_id_sucursal_origen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.traslado_inventario
    ADD CONSTRAINT traslado_inventario_id_sucursal_origen_fkey FOREIGN KEY (id_sucursal_origen) REFERENCES public.sucursal(id_sucursal);


--
-- Name: traslado_inventario traslado_inventario_id_variante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.traslado_inventario
    ADD CONSTRAINT traslado_inventario_id_variante_fkey FOREIGN KEY (id_variante) REFERENCES public.variante_producto(id_variante);


--
-- Name: turno_caja turno_caja_id_caja_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.turno_caja
    ADD CONSTRAINT turno_caja_id_caja_fkey FOREIGN KEY (id_caja) REFERENCES public.caja(id_caja);


--
-- Name: turno_caja turno_caja_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.turno_caja
    ADD CONSTRAINT turno_caja_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: usuario usuario_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.rol(id_rol);


--
-- Name: variante_producto variante_producto_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.variante_producto
    ADD CONSTRAINT variante_producto_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: venta venta_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente);


--
-- Name: venta venta_id_turno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_turno_fkey FOREIGN KEY (id_turno) REFERENCES public.turno_caja(id_turno);


--
-- Name: venta venta_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: regalito_admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- PostgreSQL database dump complete
--

\unrestrict R1nRjkz969gXmTF660ehj72URp7vPoDrChjE4bilavpTckLK1a3TL202A7pXrvO

